[submodule "maven"]
	path = modules/maven
	url = git://github.com/cliffmaury/puppet-maven.git
[submodule "jenkins"]
	path = modules/jenkins
	url = git://github.com/cliffmaury/puppet-jenkins.git
[submodule "nexus"]
	path = modules/nexus
	url = git://github.com/cliffmaury/puppet-nexus.git
[submodule "sonar"]
	path = modules/sonar
	url = git://github.com/cliffmaury/puppet-sonar.git
